.page-notfound {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 246px;
    padding-bottom: 60px;
}

.page-notfound__container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.page-notfound__title {
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    margin: 0;
}

.page-notfound__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0;
}

.page-notfound__back {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 184px 0 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.page-notfound__back:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .page-notfound {
        padding-top: 408px;
        padding-bottom: 222px;
    }
}

@media screen and (max-width: 320px) {
    .page-notfound {
        padding-top: 329px;
        padding-bottom: 30px;
    }
    .page-notfound__title {
        font-size: 80px;
        line-height: 97px;
    }
    .page-notfound__text {
        font-size: 12px;
        line-height: 15px;
    }
    .page-notfound__back {
        font-size: 12px;
        line-height: 15px;
        margin-top: 284px;
    }
}