.filter-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.filter-checkbox__invisible-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.filter-checkbox__pseudo-checkbox {
    width: 36px;
    height: 20px;
    background-image: url("./../../images/checkbox-off.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.filter-checkbox__pseudo-checkboxon {
    width: 36px;
    height: 20px;
    background-image: url("./../../images/checkbox-on.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.filter-checkbox-label-text {
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 320px) {
    .filter-checkbox {
        margin-top: 43px;
    }
}